<form action="{{ path('app_promotion_add') }}">
    <input type="text" placeholder="Promotion's name"  name="name">
    <input type="text" placeholder="Promotion's year" name="year">
    <input type="submit" value="Add a promotion" name="promotion_form">
</form>