<form action="{{ path('app_user_add_skill') }}">
    <input type="text" placeholder="Name"  name="name">
    <input type="text" placeholder="Your skills" name="user_new_skill">
    <input type="submit">
</form>