<form action="{{ path('app_user_signup') }}">
    <input type="text" placeholder="Name"  name="name">
    <input type="text" placeholder="Firstname" name="firstname">
    <input type="text" placeholder="Nickname" name="nickname">
    <input type="text" placeholder="Password" name="password">
    <input type="email" placeholder="Email" name="email">
    <input type="text" placeholder="Do you have a reference link ? " name="linkref">
    <input type="text" placeholder="Your cursus in short word " name="cursus">
    <input type="text" placeholder="Your promotion" name="user_promotion">
    <input type="submit" value="Sign In" name="register_form">
</form>